@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');
html{
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-image: url('/src/components/Images/obraz_2023-10-20_135523217-transformed.png');
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
