.table, th, td{
    border: 1px solid black;
    padding: 20px;
    border-collapse: collapse;
}

.charts {
    width: 70%;
    margin: 30px auto;
}

@media (max-width:768px) {
    .charts {
        width: 95%;
    }
}

/* canvas {
    width: 50% !important;
    height: fit-content;
} */